<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
  	<title>Material Design Bootstrap</title>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  	<link href="MDB/css/bootstrap.min.css" rel="stylesheet">
  	<link href="MDB/css/mdb.min.css" rel="stylesheet">
  	<link href="MDB/css/style.css" rel="stylesheet">
	<link href="MDB/css/cadastro.css" type="text/css" rel="stylesheet">
	

	
	<title>Cadastro do Ponto de Coleta</title>
</head>	  
<body class="corDeFundo">

    <div class="container-fluid">        
        <div class="row">
            <h3>Cadastro do ponto de Coleta</h3>
        </div>
        <form method="post">
            <div class="row">
                <div class="col-sm">
                   
                    
                   
                </div>
                <div class="col-sm">
                    <h5>Localização</h5>
                    <div class="md-form form-lg" style="margin-bottom: 0px;">
                        <input name="cep" type="text" id="cep" class="form-control form-control-lg" onblur="pesquisacep(this.value)">
                        <label for="cep">CEP</label>
                    </div>
                    <div class="row" style="margin-left: -15px;margin-top: 0px; margin-right: 0px;">
				        <div class="col-md-9">
				          <div class="md-form form-lg" style="margin-bottom: 28px;">
				            <input name="endereco" type="text" id="endereco" class="form-control form-control-lg">
                    	    <label for="endereco">Endereço</label>
				          </div>
				        </div>
				        <div class="col-md-3" style="padding-right: 0px;">
				          <div class="md-form form-lg" style="margin-bottom: 28px;">
				            <input name="numero" type="text" id="numero" class="form-control form-control-lg">
                    	    <label for="numero">N°</label>
				          </div>
				        </div>				
				    </div>
				    <div class="md-form form-lg" style="margin-bottom: 0px;">
                        <input name="complemento" type="text" id="complemento" class="form-control form-control-lg">
                        <label for="complemento">Complemento</label>
                    </div>
                    <div class="md-form form-lg" style="margin-bottom: 0px;">
                        <input name="bairro" type="text" id="bairro" class="form-control form-control-lg">
                        <label for="bairro">Bairro</label>
                    </div>
                    <div class="row" style="margin-left: -15px;margin-top: 0px; margin-right: 0px;">
				        <div class="col-md-9 ">
				          <div class="md-form form-lg">
				            <input name="cidade" type="text" id="cidade" class="form-control form-control-lg">
                    	    <label for="cidade">Cidade</label>
				          </div>
				        </div>
				        <div class="col-md-3 align-self-end" style="padding-right: 0px;">
				          <div class="md-form form-lg">
				            <input name="uf" type="text" id="uf" class="form-control form-control-lg">
                    	    <label for="uf">UF</label>
				          </div>

				        </div>				
				    </div>
                </div>
                <div class="col-sm">
                   
                      <div class="row">
				        <div class="col-12 col-md-3 ">
				        	<div class="waves-effect waves-light btn limpar" onclick="limpar()">Limpar</div>
				        </div>
				        <div class="col-6 col-md-4">
				    	    <button class="waves-effect waves-light btn entrar" type="submit">salvar</button>
				        </div>
				      </div>
                </div>
            </div>
        </form>
    </div>	
    
    	<!-- JQuery -->
  <script type="text/javascript" src="MDB/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="MDB/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="MDB/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="MDB/js/mdb.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
  <script type="text/javascript" src="MDB/js/cadastro/cadastro.js"></script>
</body>
</html>