<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="materialize/css/cadastro.css">
	<title>Cadastro</title>
</head>	  
<body class="blue-grey lighten-4 espaco">
<div  class="row">
	<div class="blue-grey lighten-4 pagina">
	<h4>Cadastro de Pessoas:</h4>
		<form method="post">
 			<div class="row cadastro espaco">
	      		<div class="com s12">
	      			<div class="col s3 borda dadosPessoas">
	      				<div class="row"><h5>Dados Pessoas</h5></div>
						Nome:<input type="text" value="" name="nome">
						CPF:<input type="text" value="" name="cpf">
						Nascimento:<input type="date" value="" name="nascimento">
						Celular:<input type="text" value="" name="celular">
						Telefone:<input type="text" value="" name="telefone">
					</div>
					<div class="col s4 borda localização">
						<div class="row"><h5>Localizacao</h5></div>
						CEP:<input type="text" value="" name="cep">
						<div class="col s7">
							Endereco:<input type="text" value="" name="endereço">
						</div>
						<div class="col s5">
							N:<input type="date" value="" name="numero">
						</div>
						Complemto:<input type="text" value="" name="complemto">
						Bairro:<input type="text" value="" name="bairro">
						<div class="col s9">
							Cidade:<input type="text" value="" name="cidade">
						</div>
						<div class="col s3">
							UF:<input type="text" value="" name="uf">
						</div>
					</div>
					<div class="col s3 borda conta">
						<div class="row"><h5>Conta</h5></div>
						E-mail:<input type="text" value="" name="email">
						Senha:<input type="text" value="" name="senha">
						Confirma Senha:<input type="date" value="" name="confrimaSenha">
					</div>
					
				</div>
			</div>
			
					
			<div class="btn entrar">Cadastrar</div>
		</form>
	</div>
</div>
	
	
</body>
</html>