.cadastro{
	margin-top: 60px;
}

.borda{
/* 	border: 2px solid;
    border-color: black;
    border-radius: 5px; */
    margin-right:15px;
}

.divisao{
	margin-right:15px;
}

.espaco{
	margin-left:30px !important;
	width: 1300px;
}

.entrar{
	margin-left: 8px !important;
}

.alinhamento{
	padding-left:0px;
}

.paginaCadastro{
	margin-left: 30px !important;
}
.corDeFundo{
	background-color: #81bfb9
}