.paginaHome{
	background-color:#95a5a6
}
.textoFonte{
	text-align: justify;	
}

.tituloPropaganda{
	
}

.subLogin{
	margin-bottom: 0px;
    height: 68px;
}

.campoLogin{
	background-color: #81bfb9;
	padding-left: 15px;
}

.entrar{
	margin-top: 24px;
    margin-left: 0px;
}


.campoLinha{
	height: 30px;
    top: 15px;
}

.linkCadastrar{
    margin-left: 40px;
    margin-bottom: -18px;
    margin-top: -2px;
}

/* div {
	position:fixed;
} */

.img{
	 height: 70%;
 	width:  80%;
}

.titulo{
    width: 100%;
    margin-top: 22px;;
}
.campoDigitar{
	height: 30px;
}

.login{
    margin-left: 25px !important;
    margin-top: 0px;
    border-radius: 0px 0px 0px 10px !important;
}
.divcadastro{
	margin-bottom: 0px;	
}

.cabecalho{
	padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

