<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
	<link type="img" rel="img" href="imagens">
   <link type="text/css" rel="stylesheet" href="materialize/css/home.css">
	<title>Mercurio</title>
</head>
<body class="blue-grey lighten-4">
<div  class="row">
	<div class="container blue-grey lighten-4 pagina">
		<div class="row">
	      <div class="col s12">
      		<div class="col s6">
      			<div class="col s6">
	      			<img alt="logoMarca.png" src="imagens/logoMarca.png">
      			</div>
      			<div class="col s6">
      				<h3>Mercurio</h3>
      			</div>
      			
      		</div>
      		<div class="col s6">
	      		<div class="login col s12 card-panel teal lighten-4">
		      		<div class="subLogin row">
					   	<div class="input-field col s4 campoLogin">
				   			<div class="row">
							  <div class="input-field col s12 campoLinha">
							    <input value="Nome" id="first_name1" type="text" class="validate">
							    <label class="active" for="first_name2">Nome</label>
					    	  </div>
						    </div>
					   	</div>
					   	<div class="input-field col s4 campoLogin">
				   			<div class="row">
							  <div class="input-field col s12 campoLinha">
							    <input value="Senha" id="first_name2" type="text" class="validate">
							    <label class="active" for="first_name2">Senha</label>
					    	  </div>
						    </div>
					   	</div>
						<div class="btn entrar">
							Entrar
						</div>
					</div>
					<!-- <div class="row"> -->
						<h6 class="linkCadastrar">
							<a href=/cadastrar>Ainda nao tem conta? Cadastre-se</a>
						</h6>
						
      						
      					 
					<!-- </div> -->
				</div>      		
      		</div>
      		
	      </div>

	      
	    </div>
		<div class="row">
		    <form class="col s12">
		      <div class="row">
		      <div class="input-field col s6">
				<h4 class="tituloPropaganda">
			 		 Encontrando o menor caminho entre suas entregas e seus clientes.
						Solucao completa com as melhores rotas, organizacao e controle de frota e muito mais.
				</h4>
		      </div>
		        <div class="input-field col s6">
		        <h6 class="textoFonte">
		          A Mercurio e uma empresa 100% brasileira, criada para atender a necessidade da populacoo de transportar objetos do A ao ponto B.  
		          Sediada em Realengo (Zona oeste do Rio de Janeiro), operamos e inovamos ha 17 anos no ramo de logistica. 
		          Oferecemos opcao de coleta do objeto no endereco desejado ou na nossa agencia atendendo a sua necessidade! 
		          Estamos sempre otimizando nossa logistica para coletar e entregar no menor tempo, deixando a concorrencia para tras e o preco la em baixo! 
		          Acesse nosso sistema e comece a aproveitar das nossas vantagens e a tranquilidade de saber que a sua entrega chegara num piscar de olhos! 
		          Oferecemos diversas opcoes de pagamento e aceitamos todas as bandeiras de cartao de credito. Esta esperando o que para abrir sua conta?! 
		          Cadastre-se em menos de um minuto, a proxima entrega pode ser a sua! Conte com o apoio 24h de nossa empresa no telefone (21) 2222-3333, 
		          para esclarecimento de duvidas ou solicite a sua entrega no nosso tele-entregas.  Transportar rapido e barato, essa e a nossa missao!
	          </h6>
		        </div>
	          </div>
		    </form>
  		</div>
	</div>
      
</div >

	

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>